<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Features">
<!--    <parameter name="country" value="India"></parameter>-->
<!--        <test name="AnnotationsOrderingTest">-->
<!--            <classes>-->
<!--                <class name="testClasses.DataProviderTest" />-->
<!--            </classes>-->
<!--        </test>-->
    <!--    For Grouping-->
    <test name="TestNGGrouping">
        <groups>
            <run>
                <include name="Smoke"></include>
                <exclude name="Regression"></exclude>
            </run>
        </groups>
        <classes>
            <class name="testClasses.GroupingDemo" />
        </classes>
    </test>
</suite>